.tooltip-inner {
  background-color: #ffeb3b !important;
  color: black !important;
  font-weight: 600;
  border-radius: 4px;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #ffeb3b !important;
}